h1 {
  color: teal;
  font-family: sans-serif;
}

h2 {
  font-style: italic;
  color: chartreuse;
}

p {
  color: brown;
  font-weight: 500;
}

ul {
  text-align: center;
}
body {
  background-color: #0000ff;
  font-family: sans-serif;
  text-align: center;
}
