h1 {
  color: gold;
  font-family: sans-serif;
}

h2 {
  font-style: italic;
  color: darkred;
}

p {
  color: darkgray;
  font-weight: 500;
}

ul {
  text-align: center;
}
body {
  background-color: #781010;
  font-family: serif;
  text-align: center;
}
